dev:
  public_key: ssh-rsa AAAA...ooQ== user@ubuntu
  private_key_path: /home/user/.ssh/dev_id_rsa
  public_key_path: /home/user/.ssh/dev_id_rsa.pub
  root_domain_name: insight-infra.net
  admin_user_email: user@domain.com
  rds_admin_user: admin
  rds_admin_password: hunter2.
  public_key_paths:
    - /home/yourname/.ssh/id_rsa.pub

prod:
  public_key: ssh-rsa AAAA...ooQ== user@ubuntu
  public_key_path: /home/user/.ssh/dev_id_rsa.pub
  private_key_path: /home/user/.ssh/dev_id_rsa
  root_domain_name: insight-infra.net
  admin_user_email: user@domain.com
  rds_admin_user: admin
  rds_admin_password: hunter2.
  public_key_paths:
    - /home/yourname/.ssh/id_rsa.pub
